@tailwind base;
@tailwind components;
@tailwind utilities;

.h-app {
  height: calc(100vh - 10rem);
}

#__next {
  @apply bg-primary;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }

  .next-error-h1 {
    border-right: 1px solid rgba(0, 0, 0) !important;
  }
}

.next-error-h1+h1 {
  border-right: 1px solid rgba(0, 0, 0);
}

.next-error-h1,
.next-error-h1+div {
  color: black;
}

.rw-widget-input,
.rw-widget,
.rw-picker-caret,
.rw-picker-btn {
  @apply text-primary !important;

}

.rw-cell.rw-state-selected {
  @apply bg-interactive-accent !important;
  @apply text-white !important;
  @apply border-interactive-accent !important;
}

.rw-picker-btn:hover {
  @apply bg-white !important;
}

.rw-widget-picker {
  grid-template: 1fr/1fr 2.4em !important;
  height: 50px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
